<% today = @user.today %>
<h1><%= today.display_string%></h1>

<h2>Notes:</h2>

<% @user.notes.where(day_id: today.id).each do |note| %>
  <div id='<%= note.id %>' class='note'>
    <p class='note_title'><%= note.title %></p>
    <p class='note_body'><%= note.body %></p>
    <ul>
      <% note.tag_categories.each do |tag_category| %>
        <li class='note_tag'><%= tag_category.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% TrackCategory.all.each do |track_category| %>
  <div id='<%= track_category.id %>' class='track_category' %>
    <h3><%= track_category.name %></h3>
    <ul>
      <% Trackable.where(user_id: @user.id, track_category: track_category, day_id: today.id).each do |trackable| %>
        <li><%= "#{trackable.name}, #{trackable.trackable_qty} #{trackable.units}" %></li>
      <% end %>
    </ul>
    <%= link_to "add a #{track_category.name}", new_trackable_path(track_category_id: track_category.id) %>
  </div>
<% end %>

<%= link_to "new note", new_note_path %>
<%= link_to "new trackable category", new_track_category_path %>

<p>Logged in as <%= @user.display_name %>, <%= link_to "Logout", logout_path %></p>
