<div class="login_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag(user_sessions_path) do %>
    <fieldset>
      <legend>Please Log In</legend>

      <div>
        <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
      </div>

      <div>
        <%= password_field_tag :password, params[:password], placeholder: 'Password' %>
      </div>
      <div>
        <%= submit_tag "Login" %>
      </div>
    </fieldset>
  <% end %>
</div>


